App_WebReferences/wsac/sac1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PruebaOPENPAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="idopenpaytr" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebaOPENPAYResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idusr" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="nip" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idusr" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="nip" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserV2Result" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idusr" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="nip" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAdminResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idcatalogo" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="where" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCatalogoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarUsr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idusr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarUsrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ActivarUsrResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMontoMax">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetMontoMaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetMontoMaxResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonederoHab">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetMonederoHabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetMonederoHabResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaMailRecordatorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaMailRecordatorioResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="AltaRecargaProg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:RecargaProg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RecargaProg">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Recarga">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="diasmes" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Recarga">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idrecarga" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idpais" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idoperadora" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idpaquete" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idformapago" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idtarjeta" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="numerorecarga" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="contactorecarga" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="err" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="errVs" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="errRs" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="idusuario" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="os" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="errvestadetallado" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="esprogramada" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AltaRecargaProgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AltaRecargaProgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaRecarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:Recarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaRecargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AltaRecargaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaRecargaMonedero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:RecargaMonedero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RecargaMonedero">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idrecargamonedero" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idtarjeta" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="monto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="err" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="errVs" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="idusuario" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="os" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AltaRecargaMonederoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AltaRecargaMonederoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaRecargaViaWallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:Recarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaRecargaViaWalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AltaRecargaViaWalletResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="u" type="tns:Usuario" />
        <xs:element minOccurs="1" maxOccurs="1" name="idusrreferido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idusuario" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="numerocontacto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="first_name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="last_name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="gender" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="picture" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="registrado" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="idpais" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="nip" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaalta" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="verificacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="customerid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AltaUsrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AltaUsrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsrV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="u" type="tns:Usuario" />
        <xs:element minOccurs="1" maxOccurs="1" name="idusrreferido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsrV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AltaUsrV2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mod_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="u" type="tns:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mod_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Mod_UsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mod_administrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="u" type="tns:administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="administrador">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idadministrador" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="firs_name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="last_name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaalta" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="nip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="numerocontacto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mod_administradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Mod_administradorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_administrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idadministrador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_administradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Delete_administradorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="a" type="tns:administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AltaAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idtarjeta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="EliminaTarjetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaRecProg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="idrecprog" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaRecProgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="EliminaRecProgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoPersonalizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="consulta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoPersonalizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCatalogoPersonalizadoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Carga3DSecure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:Recarga" />
        <xs:element minOccurs="0" maxOccurs="1" name="rm" type="tns:RecargaMonedero" />
        <xs:element minOccurs="0" maxOccurs="1" name="deviceid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tarjeta" />
        <xs:element minOccurs="1" maxOccurs="1" name="vez" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Tarjeta">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idtarjeta" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idpais" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idemisor" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="permtoken" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Last4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="titularFN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="titularLN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="calleynumero" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="idciudad" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="codigopostal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="idestado" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="idusuario" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="expirationMMYY" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carga3DSecureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Carga3DSecureResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaOpenPay1aVez">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:Recarga" />
        <xs:element minOccurs="0" maxOccurs="1" name="rm" type="tns:RecargaMonedero" />
        <xs:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tarjeta" />
        <xs:element minOccurs="0" maxOccurs="1" name="idopenpaytr" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deviceid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaOpenPay1aVezResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CargaOpenPay1aVezResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaVesta2aVez">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="r" type="tns:Recarga" />
        <xs:element minOccurs="0" maxOccurs="1" name="rm" type="tns:RecargaMonedero" />
        <xs:element minOccurs="0" maxOccurs="1" name="WebSessionID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaVesta2aVezResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CargaVesta2aVezResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteConciliacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fini" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ffin" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteConciliacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReporteConciliacionResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportaRepConc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fini" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ffin" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportaRepConcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ExportaRepConcResult" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportaRepUsr">
    <xs:complexType />
  </xs:element>
  <xs:element name="ExportaRepUsrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ExportaRepUsrResult" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportaRepUsrF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fini" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ffin" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportaRepUsrFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ExportaRepUsrFResult" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaReporteConciliacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fini" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ffin" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaReporteConciliacionResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="EnviaReporteUsuarios">
    <xs:complexType />
  </xs:element>
  <xs:element name="EnviaReporteUsuariosResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fini" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ffin" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUsersFResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAClientesResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verificaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="verif" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verificaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="verificaClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetMesDatosResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDiaDatosResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="tipo" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="operacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCarrierResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonDiario">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetMonDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetMonDiarioResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>